/Data/Backup
/Data/Cache
/Data/Index
/Data/Local
/Packages/User/Package Control.merged-ca-bundle
/Packages/User/Package Control.system-ca-bundle
/Packages/User/Package Control.user-ca-bundle
/Data/Packages/User/Package Control.cache
/Data/Packages/User/Package Control.last-run
/Data/Packages/User/Preferences.sublime-settings.*.bak
/Data/Packages/User/SyncSettings.sublime-settings
